<section class="hero">
    <div class="hero-container">
        <div class="item title">
            <h1>
                PROMOCIONES Y<br> <span>GANADORES</span>
            </h1>
        </div>
        <div class="item phone">
            <img src="../../assets/img/portfolio-phone.png" alt="Portfolio">
        </div>
        <div class="item text">
            <p>
                Conoce las promociones <br>
                vigentes para que puedas <br>
                participar y entérate de <br>
                los ganadores de otras <br>
                actividades.
            </p>
        </div>
    </div>
</section>


<section class="cards">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cards-container">
                    <div class="card" *ngFor="let item of items">
                        <figure>
                            <img src="../../assets/img/thumnail.png" alt="thumnail">
                        </figure>
                        <div class="card-desc">
                            <span>{{ item.operador }}</span>
                            <h4>{{ item.title }}</h4>
                            <p>
                                {{ item.description }}
                            </p>
                            <small class="date">{{ item.date }}</small> <br>
                            <i class="winner">{{ item.ganador }}</i>
                        </div>
                        <div class="card-cta">
                            <a class="btn btn-outline-primary" target="_blank" href="{{ item.action }}">
                                Descargar TYC
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="service">
    <div class="service-container">
        <div class="service-data">

        </div>
    </div>
</section>