<section class="hero">
    <div class="hero-container">
        <div class="item title">
            <h1>
                PROMOCIONES Y<br> <span>GANADORES</span>
            </h1>
        </div>
        <div class="item phone">
            <img src="../../assets/img/portfolio-phone.png" alt="Portfolio">
        </div>
        <div class="item text">
            <p>
                Conoce las promociones <br>
                vigentes para que puedas <br>
                participar y entérate de <br>
                los ganadores de otras <br>
                actividades.
            </p>
        </div>
    </div>
</section>


<section class="cards">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cards-container">
                    <div class="card">
                        <figure>
                            <img src="../../assets/img/thumnail.png" alt="thumnail">
                        </figure>
                        <div class="card-desc">
                            <h4>Golazo Millonario</h4>
                            <p>
                                ¿Ya conoces Happyclub? Happyclub, la primera aplicación que te PREMIA cada vez que usas
                                tus apps favoritas.
                            </p>
                            <small>Del 21 de abril al 20 de mayo de 2018</small>
                        </div>
                        <div class="card-cta">
                            <button class="btn btn-outline-primary">
                                Desacargar TYC
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="service">
    <div class="service-container">
        <div class="service-data">

        </div>
    </div>
</section>