<section class="hero">
    <div class="hero-container">
        <div class="hero-slider">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="carousel-content">
                        <img src="../../assets/img/hc-slide.jpg" alt="Slide">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="hero-content">
            <h1>
                Soluciones <br/> <span>Móviles</span>
            </h1>
            <img src="../../assets/img/mapa-about.png" alt="Slide">
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title">
                <h2>
                     QUIENES <span>SOMOS</span>
                </h2>
                <h4> 3dm es un proveedor de soluciones móviles</h4>
            </div>
        </div>

        <div class="row items">
            <div class="col-md-4">
                <div class="icon">
                    <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <h4>RECONOCIMIENTO</h4>
                    <p>
                         Somos una empresa reconocida por tener un equipo capacitado para la comercialización de contenidos y aplicaciones móviles.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon">
                    <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <h4>VALOR AGREGADO</h4>
                    <p>
                         Diseñamos e implementamos estrategias, productos y servicios que brinden soluciones a los operadores móviles y el usuario
                        final.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon">
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <h4>COBERTURA</h4>
                    <p>
                        Contamos con oficinas en cada uno de los países de cobertura, asegurando una presencia total y manteniendo un enfoque global.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 title">
                <h4>
                     Presencia a nivel <span>internacional</span>  en más de 5 p aíses
                </h4>
            </div>
            <div class="col-md-12">
                <div class="countries">
                    <div class="item">
                        <img src="../../assets/img/col.png" alt="Col">
                        <h4>Bogotá</h4>
                        <i>Colombia</i>
                    </div>
                    <div class="item">
                        <img src="../../assets/img/ecu.png" alt="Ecu">
                        <h4>Quito</h4>
                        <i>Ecuador</i>
                    </div>
                    <div class="item">
                        <img src="../../assets/img/peru.png" alt="Peru">
                        <h4>Lima</h4>
                        <i>Perú</i>
                    </div>
                    <div class="item">
                        <img src="../../assets/img/bol.png" alt="Bol">
                        <h4>Santa Cruz</h4>
                        <i>Bolivia</i>
                    </div>
                    <div class="item">
                        <img src="../../assets/img/sto-do.png" alt="Santo">
                        <h4>Santo Domingo</h4>
                        <i>República Dominicana</i>
                    </div>
                    <div class="item">
                        <img src="../../assets/img/pan.png" alt="Pan">
                        <h4>Panamá</h4>
                        <i>Panamá</i>
                    </div>
                    <div class="item">
                        <img src="../../assets/img/miami.png" alt="Santo">
                        <h4>Miami</h4>
                        <i>Estados Unidos</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>