@import '../../assets/sass/app-kit/_variables.scss';
@import '../../assets/sass/app-kit/_mixins.scss';

.hero {
    position: relative;
    min-height: 700px;
    widows: 100%;
    background-color: $white-color;
    background-image: url(../../assets/img/portfolio-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @include for-phone-only {
        align-items: center;
        min-height: 400px;
    }

    &-container {
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        padding: 16px;

        @include for-phone-only {
            grid-template-columns: 1fr;

        }
    }
    .phone {

        @include for-phone-only {
            display: none;
        }
    }
    .title {
        h1 {
            color: $white-color;
            text-align: right;
            @include for-phone-only {
                text-align: left;
                font-size: 26px;
            }
        }
    }

    .text {
        p {
            color: $white-color;
            font-size: 22px;    
            font-weight: 200;
            @include for-phone-only {
                font-size: 14px;
            }
        }
    }
}

.cards {
    margin: 24px 0;
    &-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include for-phone-only {
            grid-template-columns: 1fr;
        }
    }

    .card {
        background-color: #FCFCFC;
        display: grid;
        grid-template-columns: 136px auto;
        grid-template-rows: 1fr auto;
        grid-gap: 15px;
        grid-template-areas: "thumn desc"
                             "thumn cta";
        figure {
            margin-bottom: 0;
            grid-area: thumn;

            img {
                border-radius: 5px 0 0 5px;
            }
        }
        &-desc {
            grid-area: desc;

            p {
                color: #888B8D;
                font-size: 12px;
            }
            h4 {
                color: $primary-color;
            }
        }
        &-cta {
            grid-area: cta;
            padding-bottom: 8px;

            .btn {
                margin: 4px 0;
            }
        }
    }
}

.service {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($primary-color, .9);
    z-index: 999999;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: auto;

        &::-webkit-scrollbar {
            width: 1px;
        }
        
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
        }
        
        &::-webkit-scrollbar-thumb {
        background-color: #FCFCFC;
        outline: 1px solid #fff;
        }

    &-container {
        max-width: 800px;
        padding: 20px;
    }

    &-close {
        display: flex;
        justify-content: flex-end;

        .btn-close {
            background-color: transparent;
            border: 0;
        }
    }

    &-buttons {
        margin: 20px 0;
        display: flex;
        justify-content: space-around;

        .btn {
            color: #fff;
            background-color: transparent;
            border: 1px solid #fff;
        }

        .active {
            background-color: #fff;
            color: $primary-color;
        }
    }

    &-data {
        position: relative;
        margin-top: 20px;
        color: #fff;
    }

    &-name {
        margin: 60px 0;
    }
    &-desc {
        p {
            font-size: 12px;
        }
    }

    &-items {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        .item {
            padding: 16px;
            border-top: 1px solid #fff;

            h3 {
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
            }
            p {
                font-size: 12px;
            }
        }
    }
}