@import '../../assets/sass/app-kit/_variables.scss';
@import '../../assets/sass/app-kit/_mixins.scss';

.hero {
    position: relative;
    min-height: 700px;
    widows: 100%;
    background-color: $white-color;
    background-image: url(../../assets/img/portfolio-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &-container {
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .title {
        h1 {
            color: $white-color;
            text-align: right;
        }
    }

    .text {
        p {
            color: $white-color;
            font-size: 22px;    
            font-weight: 200;
        }
    }
}

.cards {
    &-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}