<section class="hero">
    <div class="hero-container">
        <div class="item title">
            <h1>
                 NUESTRO <br> <span>PORTAFOLIO</span>
            </h1>
        </div>
        <div class="item phone">
            <img src="../../assets/img/portfolio-phone.png" alt="Portfolio">
        </div>
        <div class="item text">
            <p>
                ¡Entérate y disfruta <br>
                desde tu celular de <br>
                todos nuestros <br>
                contenidos de  <br>
                entretenimiento!
            </p>
        </div>
    </div>
</section>


<section class="cards">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cards-container">
                    <div class="card">
                        <figure>
                            <img src="../../assets/img/thumnail.png" alt="thumnail">
                        </figure>
                        <div class="card-desc">
                            <h4>Happyclub</h4>
                            <p>
                                ¿Ya conoces Happyclub? Happyclub, la primera aplicación que te PREMIA cada vez que usas tus apps favoritas.
                            </p>
                        </div>
                        <div class="card-cta">
                            <a href="#" class="btn btn-primary">
                                lo quiero
                            </a>
                            <button class="btn btn-outline-primary">
                                más info
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>