<section class="hero">
    <div class="hero-container">
        <div class="item title">
            <h1>
                 NUESTRO <br> <span>PORTAFOLIO</span>
            </h1>
        </div>
        <div class="item phone">
            <img src="../../assets/img/portfolio-phone.png" alt="Portfolio">
        </div>
        <div class="item text">
            <p>
                ¡Entérate y disfruta <br>
                desde tu celular de <br>
                todos nuestros <br>
                contenidos de  <br>
                entretenimiento!
            </p>
        </div>
    </div>
</section>


<section class="cards">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cards-container">
                    <div class="card" *ngFor="let item of items">
                        <figure>
                            <img [src]="item.image" alt="thumnail">
                        </figure>
                        <div class="card-desc">
                            <h4>{{ item.title }}</h4>
                            <p>
                                {{ item.description }}
                            </p>
                        </div>
                        <div class="card-cta">
                            <a target="_blank" href="{{ item.action }}" class="btn btn-primary">
                                lo quiero
                            </a>
                            <button class="btn btn-outline-primary" (click)="openModal(item)">
                                más info
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="service" *ngIf="modal">
    <div class="service-container">
        <div class="service-close">
            <button class="btn btn-close" (click)="modal = false">
                <i class="fa fa-close"></i>
            </button>
        </div>

        
        <div class="service-buttons">
            <div class="button">
                <button class="btn btn-op active" (click)="changeOperador($event.currentTarget, modalData.claro)">
                    Claro
                </button>
            </div>
            <div class="button">
                <button class="btn btn-op" (click)="changeOperador($event.currentTarget, modalData.tigo)">
                    Tigo
                </button>
            </div>
            <div class="button">
                <button class="btn btn-op" (click)="changeOperador($event.currentTarget, modalData.movistar)">
                    Movistar
                </button>
            </div>
        </div>    
        
        <div class="service-data">

            <div class="service-name">
                <h2 class="text-center">{{ modalData.title}}</h2>
            </div>

            <div class="service-desc">
                <p class="text-center">
                    {{ modalData.description }}
                </p>
            </div>

            <div class="service-items">
                <div class="item">
                    <h3 class="text-center">Valor del servicio y periodicidad</h3>
                    <p class="text-center">
                        {{ operadorActive.valor }}
                    </p>
                </div>

                <div class="item">
                    <h3 class="text-center">¿Cómo activo el servicio?</h3>
                    <p class="text-center">
                        {{ operadorActive.activar }}
                    </p>
                </div>

                <div class="item">
                    <h3 class="text-center">¿Cómo cancelo el servicio?</h3>
                    <p class="text-center">
                        {{ operadorActive.cancelar }}
                    </p>
                </div>

                <div class="item">
                    <h3 class="text-center">¿Preguntas?</h3>
                    <p class="text-center">
                        Si tiene alguna inquietud y quiere comunicarse con nosotros puede llamar a la línea gratuita 018000185176 o enviarnos un correo a sac.co@3dm.com.co
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>