<section class="hero">
    <div class="hero-container">
        <div class="hero-slider">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="carousel-content">
                        <img src="../../assets/img/hc-slide.jpg" alt="Slide">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="hero-content">
            <h1>
                Soluciones <br/> <span>Móviles</span>
            </h1>
            <img src="../../assets/img/mapa-about.png" alt="Slide">
        </div>
    </div>
</section>