<section class="hero">
    <div class="hero-container">
        <div class="hero-slider">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="carousel-content">
                        <img src="../../assets/img/slider-1.png" alt="Slide">
                        <p class="name">Cristian Martinez</p>
                        <p class="winner">
                            Ganador promo montones de dulces y dinero.
                        </p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="hero-content">
            <h1>
                Contenido <br/> <span>Móvil!</span>
            </h1>
            <p>
                Con la nueva y creciente tendencia del <br>
                marketing móvil de contenidos lo vemos <br>
                todo mucho más claro.
            </p>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title">
                <h2>
                     QUIENES <span>SOMOS</span>
                </h2>
                <h4>3dm es un proveedor de soluciones móviles</h4>
                <p>
                     Contamos con oficinas en cada uno de los países de cobertura, asegurando <br/>
                     una presencia total y manteniendo un enfoque global.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="../../assets/img/mapa.png" alt="Mapa" class="mapa">
                <p class="susc">SUSCRIPTORES</p>
                <p class="data">+3.567.760 Millones</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="countries">
                    <div class="item">
                        <img src="../../assets/img/col.png" alt="Col">
                        <h4>Bogotá</h4>
                        <i>Colombia</i>
                    </div>
                    <div class="item">
                        <img src="../../assets/img/ecu.png" alt="Ecu">
                        <h4>Quito</h4>
                        <i>Ecuador</i>
                    </div>
                    <div class="item">
                        <img src="../../assets/img/peru.png" alt="Peru">
                        <h4>Lima</h4>
                        <i>Perú</i>
                    </div>
                    <div class="item">
                        <img src="../../assets/img/bol.png" alt="Bol">
                        <h4>Santa Cruz</h4>
                        <i>Bolivia</i>
                    </div>
                    <div class="item">
                        <img src="../../assets/img/sto-do.png" alt="Santo">
                        <h4>Santo Domingo</h4>
                        <i>República Dominicana</i>
                    </div>
                    <div class="item">
                        <img src="../../assets/img/pan.png" alt="Pan">
                        <h4>Panamá</h4>
                        <i>Panamá</i>
                    </div>
                    <div class="item">
                        <img src="../../assets/img/miami.png" alt="Santo">
                        <h4>Miami</h4>
                        <i>Estados Unidos</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 cta">
                <a routerLink="" class="btn btn-primary">
                    Ver más
                </a>
            </div>
        </div>
    </div>
</section>

<section class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title">
                <h2>Nuestro <span>portafolio</span></h2>
                <p>
                     ¡Entérate y disfruta desde tu celular de todos nuestros <br/> 
                     contenidos de entretenimiento!
                </p>
            </div>
        </div>
    </div>

    <div class="phone">
        <img src="../../assets/img/phone_frame.png" alt="Phone">
    </div>

    <div class="portfolio-slider">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="carousel-content">
                    <div class="banner" style="background-image: url(../../assets/img/sev-back.jpg)">
                        <div class="name">
                             SILVESTRE<br/><span>EN VIVO</span> 
                        </div>
                        <div class="logo">
                            <img src="../../assets/img/sev-log.png" alt="SEV">
                        </div>
                        <div class="leyenda">
                             Los <b>SILVESTRISTAS</b> tienen un punto de encuentro y se llama SILVESTRE EN VIVO APP. Entrevistas, noticias, fotos y videos inéditos.
                        </div>
                    </div>

                    <div class="desc">
                        <div class="icon">
                            <img src="../../assets/img/sev-icon.png" alt="SEV">
                        </div>
                        <p>
                            ¡Podrás CHATEAR con tu artista favorito y participar por PREMIOS para los verdaderos SILVESTRISTAS de CORAZÓN! Recuerda
                            que los seguidores pueden estar en muchas partes, pero los SILVESTRISTAS de corazón están AQUÍ! Únete, conviértete en un
                            FULL SILVESTRISTA y síguele los pasos a Silvestre Dangond!
                        </p>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>


<section class="aliados">
    <div class="aliados-container">
        <div class="aliados-slider">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="carousel-content">
                        <img src="../../assets/img/sony.png" alt="Slide">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="aliados-content">
            <h2>
                 NUESTROS <br/> <span>ALIADOS</span> 
            </h2>
            <p>
                Captación eficiente de usuarios a través de medios masivos (TV + WEB + WAP), acompañados de fidelización y rentabilización
                a la base de usuarios (medición e inteligencia aplicada al negocio).
            </p>
        </div>
    </div>
</section>