<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-title">
                <h2>
                     INFORMACIÓN DE <br/> <span>CONTACTO</span> 
                </h2>
                <a href="#" class="btn btn-neutral">Servicios</a>
                <a href="#" class="btn btn-outline-default">Cacelar servicios</a>
            </div>

            <div class="col-md-4 footer-data">
                <div class="item">
                    <p>
                        <b>Información de contacto:</b><br/>
                        Calle 114 # 47 A 22 <br/>
                        Bogotá / Colombia
                    </p>
                </div>
                <div class="item">
                    <p>
                        <b>Línea gratuita nacional:</b><br/>
                        018000185176
                    </p>
                </div>
                <div class="item">
                    <p>
                        <b>Correo electrónico:</b><br/>
                        sac.co@3dm.com.co
                    </p>
                </div>
            </div>

            <div class="col-md-4 footer-logo">
                <img src="../../../assets/img/logo.svg" alt="SEV">
            </div>
            <!-- <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}
                </span>
            </div> -->
        </div>
    </div>
</footer>
